/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &default_layout;
    };

    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    // Copy of matrix transform node here
    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <6>;
        rows = <7>;

        map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5) RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5)
RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5) RC(4,0) RC(4,1) RC(4,2) RC(4,3) RC(4,4) RC(4,5)
RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5) RC(5,0) RC(5,1) RC(5,2) RC(5,3) RC(5,4) RC(5,5)
                        RC(6,0)    RC(6,1)  RC(6,2)  RC(6,3)    RC(6,4)
        >;
    };
    // Copy of physical layout node here
    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "reviung41";
        transform = <&default_transform>;
        keys
            = <&key_physical_attrs 100 100 000  53 700    400 338>
            , <&key_physical_attrs 100 100 100  53 700    400 338>
            , <&key_physical_attrs 100 100 200  28 700    400 338>
            , <&key_physical_attrs 100 100 300  03 700    400 338>
            , <&key_physical_attrs 100 100 400  28 700    400 338>
            , <&key_physical_attrs 100 100 500  38 700    400 338>
            , <&key_physical_attrs 100 100 700  38 (-700) 900 338>
            , <&key_physical_attrs 100 100 800  28 (-700) 900 338>
            , <&key_physical_attrs 100 100 900  03 (-700) 900 338>
            , <&key_physical_attrs 100 100 1000 28 (-700) 900 338>
            , <&key_physical_attrs 100 100 1100 53 (-700) 900 338>
            , <&key_physical_attrs 100 100 1200 53 (-700) 900 338>

            , <&key_physical_attrs 100 100 000  153 700    400 338>
            , <&key_physical_attrs 100 100 100  153 700    400 338>
            , <&key_physical_attrs 100 100 200  128 700    400 338>
            , <&key_physical_attrs 100 100 300  103 700    400 338>
            , <&key_physical_attrs 100 100 400  128 700    400 338>
            , <&key_physical_attrs 100 100 500  138 700    400 338>
            , <&key_physical_attrs 100 100 700  138 (-700) 900 338>
            , <&key_physical_attrs 100 100 800  128 (-700) 900 338>
            , <&key_physical_attrs 100 100 900  103 (-700) 900 338>
            , <&key_physical_attrs 100 100 1000 128 (-700) 900 338>
            , <&key_physical_attrs 100 100 1100 153 (-700) 900 338>
            , <&key_physical_attrs 100 100 1200 153 (-700) 900 338>

            , <&key_physical_attrs 100 100 000  253 700    400 338>
            , <&key_physical_attrs 100 100 100  253 700    400 338>
            , <&key_physical_attrs 100 100 200  228 700    400 338>
            , <&key_physical_attrs 100 100 300  203 700    400 338>
            , <&key_physical_attrs 100 100 400  228 700    400 338>
            , <&key_physical_attrs 100 100 500  238 700    400 338>
            , <&key_physical_attrs 100 100 700  238 (-700) 900 338>
            , <&key_physical_attrs 100 100 800  228 (-700) 900 338>
            , <&key_physical_attrs 100 100 900  203 (-700) 900 338>
            , <&key_physical_attrs 100 100 1000 228 (-700) 900 338>
            , <&key_physical_attrs 100 100 1100 253 (-700) 900 338>
            , <&key_physical_attrs 100 100 1200 253 (-700) 900 338>

            , <&key_physical_attrs 100 100 339 338 0 0 0>
            , <&key_physical_attrs 100 100 450 365 700 500 415>
            , <&key_physical_attrs 200 100 555 394 0 0 0>
            , <&key_physical_attrs 100 100 760 365 (-700) 710 415>
            , <&key_physical_attrs 100 100 871 338 0 0 0>
            ;
    };
    //     If kscan property of physical layout is present, assign &mock_kscan to it
};